@import "patterns/card";
@import "patterns/flexbox";
$tre-mobile-breakpoint: 640px;

@media (min-width: 48.0625em) {
  .govuk-header__logo {
    width: 20%
  }
  .govuk-header__content {
    width: 80%;
  }
}

@media (min-width: $tre-mobile-breakpoint) {
.hmrc-responsive-table__value {
    overflow-wrap: break-word;
    word-break: break-word;
    }
  }

.tre-table-container {
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;

  
  .govuk-table {
    min-width: 600px;
    margin-bottom: 0;
  }
  
  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f3f2f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b1b4b6;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #626a6e;
  }
}

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

.top-border-heading {
  border-top: 2px solid #1d70b8;
  padding-top: 10px;
}

.third-party-action-link {
    display: inline-block;
    min-height: 24px;
    min-width: 24px;
}

.govuk-table-cell-nowrap {
     white-space: nowrap;
 }

