@import "patterns/card";
@import "patterns/flexbox";


.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

.top-border-heading {
  border-top: 2px solid #1d70b8;
  padding-top: 10px;
}