@import "patterns/card";
@import "patterns/flexbox";
$tre-mobile-breakpoint: 640px;

@media (min-width: 48.0625em) {
  .govuk-header__logo {
    width: 20%
  }
  .govuk-header__content {
    width: 80%;
  }
}

@media (max-width: $tre-mobile-breakpoint) {
  .tre-scrollable-pane {
    overflow-x: scroll;
  }

}
@media (min-width: $tre-mobile-breakpoint) {
.hmrc-responsive-table__value {
    overflow-wrap: break-word;
    word-break: break-word;
    }
  }

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

.top-border-heading {
  border-top: 2px solid #1d70b8;
  padding-top: 10px;
}